@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.offer{
    height:400px;
    width:auto;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.07);
    border-radius: 23px;
    border:0px;
    display: flex;
}

.links:visited{
    color:#005B77;
}

.title-part{
    font-size:32px;
    line-height: 0px;
}


.blu{
    color:  #006C8E
}

.dates-location{
    
    line-height: 0px;
    margin-top: 0px;
    color:#828282
}

.squares{
    margin:10%;
    width: 334px;
    height: 305px;
    background-color: #E4E4E4;
}

.text-part{
    margin: 6% 30px;
    position: relative;
    left: 30px;
    width:80%;    
    font-family: 'Montserrat', sans-serif;
    
}

.top-part{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}


@media only screen and (max-width: 890px) {
    .offer{
        display: block;
        height:560px;
        margin:10%;
        align-items: center;
    }
    .squares{
        height:200px;
        width:250px;
        position: relative;
        top:15px;

    }
}


@media only screen and (max-width: 490px) {
    .malevic{
        height:120px;
        width:150px;
    }
}