@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.bg{
    background-color:#fff;
}

.headline{
    font-family: 'Montserrat', sans-serif;
}

.cover-1{
    width:auto;
    margin: 9px 3% 3% 3%;

    height: 1780px;
    background-color:#F5F5F5;
    border-radius: 10px;
    padding: 2% 5% 0 5%;

}

@media only screen and (max-width: 890px){
    .cover-1{
        height: 2600px;    
    }

}