body {
    background: #F3F9FB;
}

.div1 {
    position: absolute;
    width: 300px;
    height: 340px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: rgb(252, 252, 252);
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2), 2px 2px 15px 1px rgba(0, 0, 0, 0.19);
    border-radius: 7%;
    text-align: center;
}

h2 {
    margin-top: 29px;
    font-size: 30px;
    border: none;
    color: rgb(51, 52, 53);
    text-shadow: 3xp 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: none;
}

input {
    margin-right: 10px;
    border-radius: 8px;
    width: 200px;
    height: 15px;
    padding: 12px 15px;
    border: 1.6px solid rgb(216, 210, 210);
}

#logo {
    position: absolute;
    width: 187px;
    height: 90px;
    left: 15px;
    top: 15px;
}

input:focus {
    border: 1.6px solid rgb(216, 210, 210);
    box-shadow: inset 0 0 3px rgb(216, 210, 210);
    outline: none;
}

input[type = 'mail']{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #5dc4e4;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
    height: 38px;
    width: 100px;
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 100px;
}

#signup{
    color: #0f87ac;
}

#signup:link{
    text-decoration: none;
}

#signup:hover{
    text-decoration:underline
}

.signup {
    text-align: center;
    font-size: 15px;
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 283px;
    text-decoration: none;
    font-weight: 500;
}

#forgot {
    color: #0f87ac;
    font-size: 12px;
    text-align: center;
    position:absolute;
    left: 34.5px;
    top: 202.5px;
}

#forgot:link{
    text-decoration: none;
}

#forgot:hover{
    text-decoration:underline;
}

.copyright {
    font-size: 10px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: block;
    margin-bottom: 25px;
}

.r1 {
    position: absolute;
    left: 46.09%;
    right: 49.82%;
    top: 17.93%;
    bottom: 59.29%;
    background: #68BED9;
    border-radius: 54px;
    transform: rotate(21.19deg);
}

.r2 {
    position: absolute;
    left: 52.7%;
    right: 43.17%;
    top: 10.67%;
    bottom: 55.56%;
    background: #68BED9;
    border-radius: 54px;
    transform: rotate(21.19deg);
}

.r3 {
    position: absolute;
    left: 57.67%;
    right: 38.23%;
    top: 16.93%;
    bottom: 40.29%;
    background: #68BED9;
    border-radius: 54px;
    transform: rotate(21.19deg);
}

.r4 {
    position: absolute;
    left: 39%;
    right: 56.9%;
    top: 50.27%;
    bottom: 11.96%;
    background: #68BED9;
    border-radius: 54px;
    transform: rotate(21.19deg);
}

.r5 {
    position: absolute;
    left: 45.75%;
    right: 50.18%;
    top: 50%;
    bottom: 16.22%;
    background: #68BED9;
    border-radius: 54px;
    transform: rotate(21.19deg);
}

.r6 {
    position: absolute;
    left: 51.15%;
    right: 44.65%;
    top: 55.27%;
    bottom: 6.96%;
    background: #68BED9;
    border-radius: 54px;
    transform: rotate(21.19deg);

}

.img {
    position: absolute;
    width: 157px;
    height: 70px;
    left: 30px;
    top: 20px;
}

#wrong {
    position: absolute;
    top: 62px;
    left: 52px;
    font-size: 15px;
    border: 15px;
    color: #d83434;
    text-shadow: 3xp 3px 3px 3px rgba(0, 0, 0, 0.2);
}