@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.Navbar{
    height:130px;
    width: auto;
    background-color: #68BED9;
    display: flex;
    justify-content: space-between;
    padding:20px 10px 0px 5px;

}

.Navbar-white{
    
    position: fixed;
    padding:20px 10px 0px 5px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    height:100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
    animation:fade 1s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

.button-group{
    margin-right: 40px;
}

.Cover{
    display: inline;
}

.active{
    opacity:0;
}

.large{
    display: normal;
    animation: enlarge 1s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    width: auto;
    background-color: #68BED9;

}

@keyframes enlarge{
    0%{
        height:0px;
    }
    100%{
        height:600px;
    }
}

.logo{
    height:68px;
    margin-left: 69px;
}

.button-text{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color:grey;
    text-decoration: none;
}

.button-white, .buttone-blue, .buttone-blue-signup{
    text-align: center;
    cursor: pointer;
    margin:20px;
    height:50px;
    width:125px;
    border:0px solid white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    
}

.button-white{
    color:grey;
}

.invisible{
    display: none;
}

.rotated{
    animation:rotation .5s;
    margin-left:10px;
    margin-top:5px;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;

}


.buttone-blue, .buttone-blue-signup{
    background-color: #006C8E;
    color: white;    
}

.central{
    width:370px;
    height: 70px;
    font-size: 30px;
  }

.margined{
    margin-right:100px;
  }

.margin{
    margin-left: 200px;
}

.buttone-blue:hover, .buttone-blue-signup:hover{
    animation: change-back 4s;
    animation-iteration-count: infinite;
}  

.button-white:hover{
    animation: change 4s;
    animation-iteration-count: infinite;
}


@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes change{
    0%  {background-color: white;
        color:grey;}
    50% {background-color: #006C8E;
        color: white;}
    100%{background-color: white;
        color:grey;}        
}

@keyframes change-back{
    0%  {background-color: #006C8E;
        color: white;}
    50% {background-color: white;
        color:grey;}
    100% {background-color: #006C8E;
        color: white;}
}

@media only screen and (max-width: 821px) {
    .margined{
        margin-right: 0px;
    }
    .central{
        margin-right: 0px;
    }
    .central{
        width:80%;
        height: 100px;
        margin: 0px;
    }
    .invisible{
        font-size: 50px;
        display: inline;
        background-color: transparent;
        border: 0px solid black;
    }

}
@media only screen and (max-width: 821px) {

    .button-group{
        display: none;
    }
}
