.footer-container{
    height:295px;
    background-color: #006C8E;
    color:white;
    padding-top: 50px;
    box-shadow:4px rgba(0, 0, 0, 0.25);

}

.social-media-icons{
    display: flex;
    justify-content: center;
}

.contacts{
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
}

.split-lines{
    font-size: 20px;
}

.icon{
    height: 20px;
    margin:20px
}

hr{
    border: #0084AE 1px solid;
}

